body {
    background-color: lightgrey;
    background-image: url(images/Leuchtturm.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(65, 63, 63);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    
}
h1 {
    font-size: 6rem;
    font-family: 'Sue Ellen Francisco', cursive;
}
h2 {
  font-size: 2rem;
}

table, th, td {
  padding: 1rem;
}

a:link {
    color: rgb(65, 63, 63);
    text-decoration: none;
  }
  a:visited {
    color: rgb(65, 63, 63);
  }
  a:hover {
    color: rgb(22, 29, 22);
    text-decoration: underline;
    
  }
  a:active {
    color: rgb(36, 18, 18);
  }
 
 /**********class zuweisungen**********/ 
  .abschnitt1 {
    padding-top: 3rem;
    padding-bottom: 10rem;
  }
  .abschnitt2 {
    background-color: white;
    padding: 6rem;
  }
  .abschnitt3 {
    padding: 6rem;
  }
  .abschnitt4 {
    background-color: white;
    padding: 6rem;
  }

  .bild {
    width: auto;
    height: auto;
    border-radius: 50%;
  }
.footerbar {
  display: inline-block;
  padding-right: 2em;
  list-style: none;
  float: right;
}
  .header {
    height: 3rem;
  }
  
  .heading {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    border: rgb(65, 63, 63) 8px solid;
    padding: 3rem;
  }

  .impressum {
    background-color: white;
    padding: 3rem;
  }

  .klein {
    font-size: 10px;
  }
.navelement {
  display: inline-block;
  padding-right: 2em;
  list-style: none;
}
  .navigation {
    float: right;
    padding-right: 6em;
    
  }

  .tabelle {
    vertical-align: middle;
  }

  .portfolio {
    border: solid white 3px;
    width: 250px;
  }
 
  .uebermich {
    text-align: center;
  }